# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Qt specific
*.pro.user
*.user
moc_*.cpp
ui_*.h
qrc_*.cpp

# Qt build folders
build/

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
